@import "../../../styles/utils/vars";

// :not(.default)::-webkit-search-cancel-button {
//     -webkit-appearance: none;
//     appearance: none;
// }

.driver-search-container {
    display: flex;
    gap: 10px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
}

.driver-search-title {
    font-weight: 600;
    word-break: break-all;
}

.input-driver-search {
    width: 70%;
    align-items: center;
    border-radius: 4px;
    padding-left: 10px;
    height: 36px;
    border: none;
    position: relative;
    &:focus {
        border: 1px solid $colorBlue;
        outline: none;
        // background-color: ghostwhite;
    }
}

// .input-driver-search {
//     width: 70%;
//     align-items: center;
//     border-radius: 4px;
//     padding-left: 10px;
//     height: 36px;
//     border: none;
//     position: relative;
//     &:focus {
//         border: 1px solid $colorBlue;
//         outline: none;
//         background-color: whitesmoke;
//     }

//     /* Hide the default cancel button */
//     &::-webkit-search-cancel-button {
//         -webkit-appearance: none;
//         appearance: none;
//         display: none;
//     }
//     /* Create custom cancel button */
//     &:after {
//         content: "✖️";
//         position: absolute;
//         top: 50%;
//         right: 10px;
//         transform: translateY(-50%);
//         color: $textColor;
//         font-size: 16px;
//     }
// }

.driver-search-close-btn {
    font-size: 1rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
