.order-details {
    &__content-row-block {
        &-route {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;
            background-color: rgba(30, 88, 235, 0.3);
            padding: 5px;
            border-radius: 4px;
            margin-bottom: 5px;
            transition: all 0.5s ease;
            &:hover {
                cursor: pointer;
                background-color: rgba(30, 88, 235, 0.5);
            }
            &-title {
                width: 100%;
                font-weight: bold;
                font-size: 14px;
            }
            &-distance {
                width: calc(50% - 10px);
                font-size: 14px;
            }
            &-duration {
                width: calc(50% - 10px);
                font-size: 14px;
            }
        }
    }
}
