@import "../../styles/utils/vars";

.task-order {
    margin-bottom: 5px;
    border-radius: 4px;
    // background-color: rgb(140, 177, 186, 0.3);
    gap: 10px;
    transition: all 0.5s ease;
    &:hover {
        cursor: pointer;
    }
    &__icon {
        display: block;
        padding: 10px;
        align-items: center;
        font-size: 20px;
        // color: green;
        border-radius: 4px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__date-time {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    &__date {
        font-size: 14px;
    }
    &__time {
        font-size: 14px;
    }
}
