.task {
    margin: 4px 0 4px 0;
    padding: 4px 2px;
    background-color: rgb(193, 200, 166);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: rgb(5, 5, 5);
    transition: all 0.5s ease;
    &:hover {
        background-color: rgb(160, 237, 101);
        cursor: pointer;
    }
    &__container {
        width: 100%;
        overflow-wrap: break-word;
    }
    &__time {
        text-align: center;
        padding: 2px;
    }
    &__type {
        text-align: center;
        padding: 2px;
    }
    &__title {
        text-align: center;
        padding: 2px;
    }
    &__truck {
        text-align: center;
        padding: 2px;
    }
}
