.slider-container {
    width: 800px;
    height: 500px;
    margin: 20px auto;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    // img {
    //     width: 100%;
    // }
}
