@import "../../../styles/utils/vars";

.login-form-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: $backgroundcolor;
  background-color: rgb(140, 177, 186);
  width: 100%;
  border-radius: 4px;
  // margin-top: 20px;
  padding: 20px;
  width: 700px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  &__rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  &__input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
