@import "../../../styles/utils/vars";

.point-details {
    &__header {
        position: sticky;
        display: flex;
        justify-content: center;
        background-color: $tableHeaderColor;
        border-radius: 4px;
        top: 0;
        margin: 0 auto 5px auto;
        // align-items: center;
    }
    &__return-button {
        width: 40px;
        background-color: rgb(249, 4, 4, 0.6);
        color: white;
        margin: 5px;
        line-height: 30px;
        // box-shadow: #9ea7a8;
        border-radius: 5px;
        text-align: center;
        vertical-align: center;

        & > a {
            // color: #fff;
            font-size: 26px;
            color: white;
            text-decoration: none;
        }
    }
    &__return-button:hover {
        background-color: rgb(249, 4, 4, 0.9);
        transition: all 0.5s;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14);
        cursor: pointer;
    }
    &__header-block {
        background-color: $colorGray;
        color: white;
        border-radius: 4px;
        margin: 5px 10px;
        padding: 5px 10px;
        align-items: center;
        &:nth-child(2) {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 5px 5px;
            width: 100%;
        }
    }
}
