// first style
$headerColor: #045b62;
$colorGray: #6c817f;
$tableHeaderColor: rgb(140, 177, 186);
$plannerRowColor: rgb(233, 228, 185);
$backgroundcolor: #ebeded;

// second style
// $backgroundcolor: #ebeded;
// $colorGray: #176b87;
// $headerColor: #04364a;
// $tableHeaderColor: #64ccc5;
// $plannerRowColor: #dafffb;
