.container-sidebar {
  display: flex;
  margin-top: 60px;
  /* height: 100%; */
  position: fixed;
  /* top: 0; */
}

.sidebar {
  background: #5b6e6c;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  /* border: 1px solid rgb(185, 171, 171) */
}

main {
  width: 1200px;
  height: 100%;
  margin: 0 auto 0 20px;
  padding: 20px;
  position: relative;
}


.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover {
  background: #7b8a8b;
  color: #000;
  transition: all 0.5s;
}

.active-sidebar {
  background: #9ea7a8;
  color: #000;
}

.icon,
.link_text {
  font-size: 20px;
}