* {
  box-sizing: border-box;
}

.navbar {
  background: #045b62 !important;
}

.navbar-dark:hover {
  color: rgb(133, 168, 125) !important;
  --bs-navbar-brand-hover-color: none;
}

.carousel-main img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  width: auto;
  /* height: auto; */
  scale: 75%;
}

.table-container {
  margin: 0;
  padding: 0;
  /* max-height: 500px;
  width: 100%;
  overflow-y: auto; */
}

table {
  display: block;
  table-layout: auto;
  width: 100%;
  padding: 0 5px 0 5px;
  /* border-collapse: separate; */
  /* border-spacing: 0 4px; */
  max-height: 500px;
  overflow-y: auto;
  text-indent: initial;
}

thead {
  display: block;
  table-layout: auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}


tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 2px 2px rgba(0, 0, 0, .12);
  border-radius: 6px;
  overflow-wrap: break-word;
  height: 4px;
}

.table {
  margin: 1px !important;
}

td {
  border-radius: 4px;
  overflow: hidden;
}

tr.table:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, .14), 0 3px 14px rgba(0, 0, 0, .12), 0 5px 5px rgba(0, 0, 0, .2);
  cursor: pointer;
  z-index: 1;
  position: relative;
}